@font-face {
  font-family: 'SfDistantGalaxy';
  src: url('../fonts/SfDistantGalaxy-0l3d.ttf') format('truetype');
}
body {
  font-family: 'SfDistantGalaxy', sans-serif;
}
:not(button) {
  text-shadow: 0 0 3px $black;
}
.title {
  @include mq(768px) {
    font-size: 2.2em;
  }
  font-size: 1.85em;
}
.tagline,
#questionTip {
  @include mq(768px) {
    font-size: 1.25em;
  }
  font-size: 1.15em;
}

.tagline {
  margin-bottom: 30px;
}
#questionTip {
  margin: 0 10px 30px;
}
#question {
  @include mq(768px) {
    font-size: 1.35em;
  }
  font-size: 1.25em;
  margin: 0 10px;
}